<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>fitnessForU</title>
</head>
<body>
<div class="container " style="margin: 0 auto; text-align: center;">
<div th:replace="fragments/header :: header(home)"></div>
<div class="jumbotron mt-5" text-align:center; margin-left:20px;margin-top: 50px; style="background-color:white; color:#1C39BB">
  <h1 class="display-4">About Us</h1>
  <p class="lead"> Our goal is to provide services to the families in community for healthy living and fitness in more affordable and approachable.</p>
  
  
  
  </div>

<div th:replace="fragments/header :: scripts"></div>

</body>
</div>
</html>