<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>fitnessForU</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container " style="margin: 0 auto; text-align: center;">
<div th:replace="~{fragments/header :: header(home)}"></div>

 
<img src="/img/fitnessimg.png">
<div class="jumbotron mt-5" text-align:center; margin-left:20px;margin-top: 50px; style="background-color:white; color:#1C39BB">
  <h1 class="display-4">Hello, there!</h1><br>
 <br> <p class="lead">Welcome to your neighbourhood fitness community portal! Get geared up with all our services provided for you and your family. </p>
  
  <hr class="my-4">
  
  
</div>


<div th:replace="~{fragments/header :: scripts}"></div>


</body>
<footer class="bg-white text-right py-5">
  <div class="container text-center">
    <div class="row ">
    <div class="col-sm-3 text-left">
       <p style="color: blue;">Located here:</p>
       <p style="color: blue;">1350 City Centre</p>
       <p style="color: blue;">East Side view</p>
       <p style="color: blue;">Regina,SK</p>
       <p style="color: blue;">S3E0T3</p>
        
      </div>
      <div class="col-sm-3 text-center">
        <a href="about"><p style="color: blue;">About us</p>
        </div>
      <div class="col-sm-3 float-right">
        <h5 style="color: blue;">Follow</h5>
        <div class="fb-share-button align-left" 
data-href="https://www.facebook.com/profile.php?id=100092226699362" 
data-layout="button">

      
      </div><br>
     <br> <div class="twitter float-center">
      <a href="https://twitter.com/Lakshmitdeepu?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @Lakshmitdeepu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
      </div>
      
      
 </div>
</footer>
</div>

</html>